




* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}






/* Slideshow container */
.slideshow-container {
  max-width: auto;
  margin-top: 25px;
  height: auto;
  position: relative;
  margin-left: 200px;
  margin-right: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.left{
  height: 400px;
  width: 130px;
  float: left;
  margin-top: 10px;
  margin-right: 40px;

}

h1 {
    color: black;
    margin-left: 30px;
}
















h2 {
    color: white;
    margin-left: 10px;
}

div.header{
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
  
  width:80%;
  height: 70px;
  font-size: 20px;
  background-color: #51b5a4;
  /*color: white;*/
  margin-left: 50px;

}

.form-group {
  margin:3%;
}

.form-group label{
  display: block;
  text-align: left;
  margin:3px;
  padding: 0px;
  color: white;
}


}
.form-group input{
 margin: 3%;
 padding: 5px;
  border-radius: 10px 5px 5px 5px ;
  
  font-size: 15px;
  border:0px solid black;


}




nav {
  background: black;
  height: 60px;
  z-index: 1;

}

nav #menu {
  float: left;
  left: 80%;
  border-left: 5px;
  position: relative;
}

nav #menu li {
  
  /*border: 2px solid white;*/
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
  line-height: 30px;
  position: relative;
  transition: all 0.3s ease-out;

}

nav #menu li a {
  color: #fff;
}

nav #menu li:hover {
  background: #333;
}


